.bar {
  z-index: -1;
  /* Set a lower z-index for the bars */
}


.white_background {
  z-index: -5;
  /* Set a lower z-index for the background */
}


.svg_background {
  background-color: white;
  border: solid;
  border-width: thin;  
  /* border-radius: 0px 5px 5px 0px;   */
}

.x-axis line,
.x-axis path {
  stroke: black;
}

.y-axis line,
.y-axis path {
  stroke: black;
}

.x-axis text{
  fill: black;
}

.contentSample{
  display: flex;
}