.areaInputComment { 
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 0.1rem;
    width: 90%;
    left: 10%;
  }

.comment{
  color: black;
  background-color: #ffffffb5;
  border: solid;
  border-width: thin;
  text-align: left;
  z-index: 1;
  position: relative;
  padding-left: 2rem;
  border-radius: 0.15rem;  
}
  
.areaDisplayComment{
  max-height: 350px;
  overflow-y: scroll;
  left: 5%;
  position: relative;
  width: 95%;
}

.commentText{
  margin-left: 0.5rem;
}

.areaComment {
    background-color: white;
    position: relative;
    padding:0.1rem;
    /* left:10%; */
    /* width: 90%; */
}

.comments-container {
  position: relative;
  padding-left: 20px; /* Adjust as needed */
}

.comment-wrapper {
  margin-bottom: 10px; /* Adjust as needed */
}

.vertical-line {
  position: absolute;
  left: 2%;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #000; /* Adjust line color as needed */
  margin-right: 10px; /* Adjust as needed */
  z-index: 0;
}
