.areaInputAnnotation { 
    display: flex;
    /* gap: 1rem; */
    justify-content: center;
    /* padding-bottom: 0.2rem; */
    /* padding-top: 0.2rem; */
  }

.areaAnnotation{
  background: white;
  padding: 0.5rem;
  border: solid;
  border-radius: 0.5rem;
}

.annotation{
  background-color: #f9f9c9;
  border: solid;
  border-radius: 0.25rem;
  border-width: thin;
  color: #000;
  padding: 0.5rem;
  text-align: left;
} 

.outerAreaDisplayAnnotation{
  max-height: 350px;
  overflow-y: hidden;
}

.areaDisplayAnnotation{
  max-height: 350px;
  overflow-y: auto;
}

.annotationText{
  margin-left: 0.5rem;
}

/* .buttonShowAnnotation{
  border-width: thin;
} */

.annotationIcon {
  /* background-color: white;
  color: black;
  padding: 0.5rem;
  border: solid;
  border-width: thin;
  border-radius: 0.25rem; */
  width: 3rem;
  height: 3rem;
}


.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px; /* Adjust the line width as needed */
  background-color: #000; /* Adjust the line color as needed */
}

.selectPrivacy{
  background: #fff;
  color: #000;
  border: solid;
  border-width: thin;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
}