.areaInputAnnotation { 
    display: flex;
    /* gap: 1rem; */
    justify-content: center;
    /* padding-bottom: 0.2rem; */
    /* padding-top: 0.2rem; */
  }

.annotation{
  color: black;
  background-color: #f9f9c9;
  border: solid;
  border-width: thin;
  text-align: left;
} 
  
.areaDisplayAnnotation{
  max-height: 350px;
  overflow-y: scroll;
}

.annotationText{
  margin-left: 0.5rem;
}

.buttonShowAnnotation{
  border-width: thin;
  /* position:relative;   */
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px; /* Adjust the line width as needed */
  background-color: #000; /* Adjust the line color as needed */
}