@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.keys {
    list-style: none;
    display: flex;
    left: 1%;
    position: relative;
    /* overflow-x: scroll; */
    padding-bottom: 1rem;
    width: 95%;
}

/* TODO change code with JavaScript to mute white keys reacting to hover when hovering black keys */
/* 
.key:hover {
    color: orange;
}
.black-key:hover {
    color: orange;
} */

.outputMusicSearch {
    /* height: 700px;
    overflow-y: scroll;
    width: 98%; */
    /* border: solid;
    border-color: #dfdfdf; */
    text-align: center;
    position: relative;
    border-radius: 10px;
    background: #dfdfdf;
    opacity: 0.9;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.white{
    border: solid;
    border-width: medium;
}


.activeWhiteNote:hover {
    color: orange;
}

.activeBlackNote:hover {
    color: orange;
}

ul .key {
    position: relative;
    width: 40px;
    height: 150px;
    border: 1px solid black;
    border-right: none;
    background: #fffff0;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
}

ul .key:last-child {
    border-right: 1px solid black;
}

ul .black-key {
    position: absolute;
    top: -1px;
    left: 25.5px;
    width: 30px;
    height: 100px;
    background: black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    color: white;
    /* unclear if we want to keep it, but might be nicer with border */
    border: solid;
    border-color: black;
}

.labelWhiteKey{
    border: solid;
    border-width: medium;
    border-radius: 0.25rem;
    color: white;
    padding: 0.1rem;    
    /* border: solid;
    border-color: white; */
}
.regularWhiteKey{
    padding: 0.1rem;    
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.15rem;
    font-size: 12px;
}


.musicInterfaceContent {
    overflow: hidden;
    /* Clear floats */
}

.buttonSampleRes{
    display:flex;
    gap: 2rem;
    justify-content: left;
    padding: 0.5rem;
}

.sampleres {
    position: relative;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    background-color: #1e202f;
    color: white;
    border-radius: 0 5px 5px 0;
    border: solid;
    border-width: thin;
    border-color: black;
    text-align: left;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.trackres {
    margin-left: 1.5%;
    position: relative;
    width: 100%;
}

.infoLogNumber {
    margin-top: 0.1rem;
    background-color: #dfdfdf;
    color: white;
    /* border: solid; */
    width: 30%;
    color: black;
    float: left;
}

.iconsSampleRes {
    text-align: center;
}

.musicinfo {
    background-color: gray;
    border: solid;
    border-width: thin;
    text-align: left;
    margin-bottom: 1rem;
}

/* ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
} */
/* 
::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
} */

/* .outputMusicSearch ::-webkit-scrollbar-track {
    background: #343650;
    border-radius: 5px;
} */

.buttonDots{
    border:solid;
    border-width: thin;
    border-color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;    
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;    
}

#buttonListLogsNumbers{
    width: 100%;
    text-align: left;
}

.recordingItem{
    width:100%;
    text-align: center;
    color: black;
    background-color: ghostwhite;
    border: solid;
    border-width: thin;
    border-color: black;
}

.texttrackres{
    color: black;
}

.metadataRecording{
    width: 100%;
}
.matchedTracksOfRecording{
    width: 100%;
}

    /* display: none; */
/* .trackItem {
    opacity: 0;
} */

/* display: inline; */
/* .trackItem.show {
opacity: 1;
} */

.detailResultMeta{
    text-align: left;
    margin-left: 1rem;
}

.buttonPlay{
    height:3rem;
    width: 3rem;
}

.buttonRefLogNumber{
    text-align: left;
    font: 1em sans-serif;
    margin-left: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    color: black;
}

.buttonRefLogNumber:hover{
    color: orange;
    background-color: #666;
}

.titleRecMatched{
    color: black;
    margin-left: 1rem;
    font-size: 20px;
    font-family: monospace;
}

.annotationIndication{
    border: solid;
    border-radius: 0.5rem;
    width: fit-content;
    border-width: thin;
    margin: 0.25rem;
    padding: 0.25rem;    
}