/* scrollbar.css */

/* Define a custom scrollbar width and color */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Hide the scrollbar by default */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    /* transition: background 0.2s; */
    background: rgba(0, 0, 0, 0.25); /* doubt about keeping the scroll bar visible. Probbaly fine. */
}

/* Show the scrollbar when the container is hovered */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.7); /* Make the thumb slightly transparent */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Set the background to transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(211, 162, 115); /* Change color on hover */
}

.additional-info {
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px -7px 10px rgb(0 0 0);
  }
    
  /* Triangle pointing towards the clicked row */
  .additional-info::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust based on the size of the triangle */
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ccc transparent;
  }
  
  /* .clickableCell {
    transition: border-color 0.1s ease;
  }
  
  .clickableCell:hover {
    border: solid;
    border-color: rgba(255, 166, 0, 0.692);
    border-width: 0.75mm;
  } */
  