.workflowManager{
    border: solid;
    border-width: thin;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: orange;
}

.creationWorkflow{
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: coral;
    border-radius: 3px;
    border-width: thin;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.workflowDetails{
    padding-left: 1rem;
    padding-top: 0.1rem;    
    padding-bottom: 0.1rem;        
}

.workflowDetails:hover {
    background-color: #acadbd;
    color:black;
    font-size: large;
    cursor:pointer;
    border:solid;
    border-width: thin;
    border-color: orange;
}