.workflowManager{
    border: solid;
    border-width: thin;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: orange;
    padding-bottom: 0.15rem;
}

.creationWorkflow{
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: coral;
    border-radius: 3px;
    border-width: thin;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.workflowDetails{
    padding-left: 1rem;
    padding-top: 0.1rem;    
    padding-bottom: 0.1rem;        
}

.workflowDetails:hover {
    background-color: #acadbd;
    color:black;
    font-size: large;
    cursor:pointer;
    border:solid;
    border-width: thin;
    border-color: orange;
}

.workflowInterface{
    border:solid;
    border-width: thin;
    border-color: orange;
    border-radius: 3px;
}

.workFlowDescription{
    border:solid;
    border-width: thin;
    border-color: white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.workflowHeader{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.workflowListObjects{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.workflowObject{
    color: silver;
    border:solid;
    border-width: thin;
    padding-left: 0.25rem;    
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.infoAdditionWorkflow{ 
    padding-left: 0.25rem;
}