.App {
  text-align: center;
  background: #45465e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: ghostwhite;
  /* padding: 0.25rem; */
}

.footer{
  background-color: ghostwhite;
  border: hidden;
}

.info{
  text-align: center;
}

.imageHeader{
  border-radius: 5px;
  margin-block: 5px;
  border:hidden;
}

.externalLink{
  color:lightskyblue;
}

.linkFooter{
  border-radius: 5px;
  margin-block: 15px;
}

.imageFooter{
  border-radius: 5px;
  margin-block: 5px;
  border:hidden;
}

.container{
  margin:auto;
  padding: 0.5rem;
  background-color: #1e202f;
}

h1 { 
  margin-top: 0.5rem;
  text-align: center;
  font-size: 2rem;
  color: ghostwhite;
}

.textInfo{
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}


.jazzdapInput{
  display: flex;
  gap:1rem;
  justify-content: center;
}

input{
  border:none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #282c34;
}

.add{
  border:none;
  outline: none;
  background-color: #282c34;
  color: antiquewhite;
  width: 100px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #282c34;
  cursor: pointer;
}
.add:hover{
  color:orange;
}

.reloadPage{
  border:none;
  outline: none;
  background-color: #282c34;
  color: antiquewhite;
  width: 100px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #282c34;
  cursor: default;
}

.alpha_warning{
  padding-bottom: 0.2rem;
  font: message-box;
  font-size: larger;
}

.musicInterface{
  justify-content: space-around;

}

.buttonsMusicInterface{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.playMusic{
  border:none;
  outline: none;
  background-color: #282c34;
  color: antiquewhite;
  width: 100px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #282c34;
  cursor: default;
}

.stopMusic{
  border:none;
  outline: none;
  background-color: #282c34;
  color: antiquewhite;
  width: 100px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #282c34;
  cursor: pointer;
}


.jazzdap{
  position: relative;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: solid;
  width: 70%;
  border-width: thin;
  left: 15%;
}

.disclaimerSearchPitch{
  color:ghostwhite;
}
.topTextSearch{
  margin-bottom: 0.25rem;
}


.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap:0.5rem;
  transition: 1ms;
}
.icon{
  cursor: pointer;
  font-size: 20px;
}

.icon:hover{
  color:orange;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  padding-left: 5%;
  text-align: left;
}


input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  /* padding: 0.25rem; */
  padding-top: 0.10rem;
  border-radius: 0.5rem;
  max-width: 80%;
}

label,
button {
  margin-top: 0.1rem;
}

button {
  padding: 0.5rem;
  background-color: ghostwhite;
  color:#282c34;
  max-width: max-content;
}

button:hover{
  color: orange;
  cursor: pointer;  
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.15rem;
}

.invalid {
  color: red;
  margin-left: 0.15rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.errorRegister{
  color: red;
}

.auth{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.auth div {
  /* width: 50% */
}

.logout-wrapper{
flex-direction: column;
color: ghostwhite;
background-color: #1e202f;
text-align: right;
padding-right: 3%;
padding-left: 3%;
padding-bottom: 0.25rem;
}

.wrapperMusicSearch{
  padding-top: 5px;
  padding-bottom: 5px;
}


.buttonShowDiv{
  position: absolute;
  left: 75%;
  width: max-content;}

::-webkit-scrollbar {
  width: 10px;
  z-index: 2;
}
/* Track */
::-webkit-scrollbar-track {
  background: #343650;
}

/* Handle */
/* Change of color from designers... we want something visible over pretty */
::-webkit-scrollbar-thumb {
  /* background: #4c4f6a; */
  background: #acadbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e202f;
}

.loading-container {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.5s;
}

.loading-icon {
  position: fixed;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  color: white;
  background-color: #45465e;
  opacity: 0.9;
  border: solid;
  border-radius: 0.5rem;
  z-index: 999;
  text-align: center;

  animation: loading-fall 0.8s linear infinite;
  margin-bottom: 10px;  
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes loading-fall {
  0% {
    transform: translateY(-200%);
  }
  20% {
    transform: translateY(-50%);
  }  
  30% {
    transform: translateY(-60%);
  }  
  100% {
    transform: translateY(0);
  }
} */

.userInfo{
  text-align: left;
}

.userAnnotation{
  text-align: left;
}

.userAnnotation:hover{
  background-color: #acadbd;
  /* once buttons are set on them, change text color to orange */
}